.inner-navbar {
  /* width: 100vw; */
  height: fit-content;
  padding: 30px 30px;
  margin: 0 auto;
  box-sizing: border-box;
  /* margin-bottom: 70px; */
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  /* flex-basis: 100%; */
  /* justify-content: center; */
}
.inner-navbar ul {
  display: flex;
  margin: 0 0;
  align-items: center;
  justify-content: flex-end; 
  text-align: center;
}

.inner-navbar a {
  color: #333;
  text-decoration: none;
  margin-right: 20px;
}
.navbar {
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  /* flex-wrap: wrap;
  flex-basis: 100%; */
  height: fit-content;
  text-align: center;
}
